<div class="row">
  <div id="bucketList" class="col-sm-7">
    <%= render "bucket_list" %>
  </div>

  <div class="col-sm-5">
    <h2>Add a goal</h2>

    <%= form_for(@bucket_list.items.new, remote: true) do |f| %>
      <div class="row">
        <div class="col-sm-9">
          <%= f.text_field :title, class: "form-control", placeholder: "What do you want to do?" %>
        </div>

        <div class="col-sm-3">
          <%= f.submit "Add", class: "form-control btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="clb"></div>
</div>