<main class="posts">
  <header class="home remainder-height v-center-parent">
    <div class="v-center-child tac">
      <h1>DannySantos.me</h1>
    </div>
  </header>

  <div class="col-sm-8 col-sm-offset-2">
    <h2>This is my blog</h2>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam hic velit atque blanditiis veritatis tempore, eaque doloremque, libero exercitationem aspernatur fugit voluptas alias nihil voluptate soluta. Nesciunt, sit, dolorem!
    </p>
      
    <h2>The Posts</h2>
    
    <% @posts.each do |post| %>
      <div class="mb20">
        <% if post.published_at %>
          <%= link_to post.title, post %>
        
        <% if current_user && current_user.is_admin? %>
            <br>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if current_user && current_user.is_admin? %>
      <%= link_to 'New Post', new_post_path %>
    <% end %>
  </div>
</main>