nav.primary {
  height: 60px;
  line-height: 60px;
  background-color: #000;
  
  ul {
    display: inline-block;
  }
  
  li {
    display: inline;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
}

nav.secondary {
  height: 40px;
  line-height: 40px;
  background-color: #eaeaea;
  border-bottom: 1px solid #c3c3c3;
  
  h1 {
    margin: 0;
    font-size: 1em;
  }
  
  ul {
    display: inline-block;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
  }
}